.idea
.DS_store
__pycache__
.python_history
.pyc
data

# django migrations
**/migrations/*
!**/migrations/__init__.py
static

**/interview-venv

.env

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/